GlobalLogistics/Web References/localhost/WSGlobalLogistics.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ObtenerStock">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerStockResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ObtenerStockResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ObtenerStockSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerStock" />
  </wsdl:message>
  <wsdl:message name="ObtenerStockSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerStockResponse" />
  </wsdl:message>
  <wsdl:portType name="WSGlobalLogisticsSoap">
    <wsdl:operation name="ObtenerStock">
      <wsdl:input message="tns:ObtenerStockSoapIn" />
      <wsdl:output message="tns:ObtenerStockSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSGlobalLogisticsSoap" type="tns:WSGlobalLogisticsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerStock">
      <soap:operation soapAction="http://tempuri.org/ObtenerStock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSGlobalLogisticsSoap12" type="tns:WSGlobalLogisticsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerStock">
      <soap12:operation soapAction="http://tempuri.org/ObtenerStock" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSGlobalLogistics">
    <wsdl:port name="WSGlobalLogisticsSoap" binding="tns:WSGlobalLogisticsSoap">
      <soap:address location="https://localhost:44386/WSGlobalLogistics.asmx" />
    </wsdl:port>
    <wsdl:port name="WSGlobalLogisticsSoap12" binding="tns:WSGlobalLogisticsSoap12">
      <soap12:address location="https://localhost:44386/WSGlobalLogistics.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>